body {
    padding:20px 10px 20px 10px;
}

.rotate-90{
    transform: rotate(90deg);
}

#parametersList .list-group{
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    border:1px solid #eee;
    overflow-x: hidden;
}

#crushReportPanel .content-panel
{
    min-height: 800px;
}

.margin-hor-20{
    margin-left: 10px;
    margin-right: 10px;
}

.loadingIndicatorWindow{
    border-radius: 0px;
    box-shadow: 1px 1px 14px 1px #b0b0b0;
    border: 0px;
}

.loadingIndicatorWindow .ui-dialog-titlebar
{
    display: none;
}

#loadingIndicator{
    text-align: center;
}
.chart-panel {
    float: left;
    padding: 10px;
    border: 1px solid #E6E6E6;
    margin: 6px;
}
.chart-title {

    /* padding: 5px;
     border-top: 1px solid #DAD5D5;
     text-align: center;*/
    border-top: 1px solid #DAD5D5;
    position: fixed;
    text-align: center;
    margin: 0px auto;
    float: none;
    display: block;
}
.panel.graph-stats{
    min-height: 300px;
    border: 1px solid #eee;
    min-width:300px;
}
.graph-panel{
    min-width: 350px;
}
.graph-stats .panel-body{
    padding:0px;
}
.graph-stats ul{
    margin: 0px;
}
.graph-stats li{
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
    margin: 0px;
    white-space: normal;
    line-height: 21px;
}
.graph-stats li::before{
    content : "\00bb "
}
.graph-stats span.stat{
    font-weight: bold;
}

.graph-stats span.dash{
    border-bottom: 1px dashed #ddd;
}
h3.sub-title{
    font-size: 19px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin: 0px;
}
.timeline{
    width: 100%;
    height: 300px;
}
.graph{
    width: 100%;
    height: 300px;
}
.highlight {
    background-color: yellow
}
.filterMatches {
    background-color: #BFFF00;
}
table.dataTable span.highlight {
    background-color: #FFFF88;
}
div.DTS div.dataTables_scrollBody {
    background: #FFF !important;
}
.parameters-div {
    border: 1px solid #D4CBBE !important;
    margin: 3px;
    padding: 4px;
    text-align: center;
    float: left;
}
.parameters-div .parameters-title {
    font-weight: bold;
}
.overflow-visible {
    overflow: visible !important;
}
.overflow-scroll {
    overflow: auto !important;
}
.upload-pie {
    float: left;
}
.download-pie {
    float: right;
}
.delete-pie {
    float: left;
}
.dataTables_wrapper {

    /*overflow: auto;*/
}
#report-title {
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
#report-parameters {
    margin: 0px auto;
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.panel-default > a > .panel-heading {
    border: 1px solid #F5F3F3 !important;
    background-color: #F9F9F9 !important;
    color: #5A5550 !important;
}
.main-chart {
    width: 100%;            /*margin: 0 auto;*/

    /*text-align: center;*/
    background-color: #FFF;
    border: 10px solid #fff;
    display: none;
    margin-left: 10px;
}
.reports-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;            /*max-width: 150px;*/
}
.no-data{
    padding-top: 70px;
    padding-bottom: 70px;
}
a:hover, a:focus{
    text-decoration: none;
}
.clearfix{
    clear: both;
}

.no-border {
    border:0px;
}

.top-margin{
    margin-top: 15px !important;
}
.tables .panel-title, .capital{
    text-transform: capitalize;
}
.no-border-top{
    border-top: 0px;
}
.collapsing, .no-transition {
    -webkit-transition: none;
    transition: none;
}
.padding10
{
    padding: 10px;
}

.pill-link{
    font-weight: normal;
    font-size: 15px;
}

.pill-link a.active{
    opacity: 0.6;
}
.dataTables_length{
    float: left;
}
.inactive-user {
    opacity: 0.5;
}
#reportIcon{
    transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

.report-header:hover #reportIcon{
    transform: scale(1.1);
    color : #e78f08;
}

.report-header:hover #reportIcon.rotate-90{
    transform: scale(1.1) rotate(90deg);
}
.fullModal > .modal-dialog{
    width: 90% !important;
}
span.notice{
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0px;
    float: left;
    margin: 10px;
    color: #795548;
    font-size: 13px;
}

.enabled{
    color:green;
}

.disabled{
    color:red;
}